
body {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .sender-column {
    text-align: right;   
  }

  
  body {
    background-color:#c69bc9; 
    }
 
  h1 {
    font-size: 1.8em;
  }

  h1 {
      Color: White
     } 
  
  h2 {
      Color: white
     }

  h1{
      text-align:center;
     }  
  
 

  h2 {
    font-size: 1.5em;
  }

  h2{
      text-align:center;
     } 
  
     p {
    color: white
  }

  p{
      text-align:center; 
  }

  p{
    font-size: 1.2em;
  }

  h3{
    text-align:center
  }

  h3{
    font-size:1.5em;
  }
  
   p,ul,ol,dl,address {
    font-size: 1.1em;
  }
  
  p, li, dd, dt, address {
    line-height: 1.5;
  } 

  h3{
    color: white
  } 