
body {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .sender-column {
    text-align: right;
  }
  
  h1 {
    font-size: 1.5em;
  }

  h1 {
      Color: purple
     } 
  
  h2 {
      Color: purple
     }

  h1{
      text-align:center;
     } 

  h2 {
    font-size: 1.3em;
  }

  h2{
      text-align:center;
     } 
  
  p{
      text-align:center;
  }

  p{
    font-size: 1em;
  }
  
 
  li {
    display: inline;
  }
 
  ul{
    list-style:none;
    margin:0;
    padding:0;
    } 

    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
    }
    
    .topnav {
      overflow: hidden;
      background-color: #333;
    }
    
    .topnav a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    .topnav a:hover {
      background-color: #ddd;
      color: black;
    }
    
    .topnav a.active {
      background-color: #04AA6D;
      color: white;
    }
    </style>
    </head>
    <body>
    
    <div class="topnav">
      <a class="active" href="#Future goals">Future goals</a>
      <a href="#Why Psychology?">Why Psychology?</a>
      <a href="#What Career Is Right For You">What Career Is Right For You?</a>
      <a href="#About">About</a>
    </div>c
    
    <div style="padding-left:16px">
      <h2>Top Navigation Example</h2>
      <p>Some content..</p>
    </div>

  
  
   p,ul,ol,dl,address {
    font-size: 1.1em;
  }
  
  p, li, dd, dt, address {
    line-height: 1.5;
  } 

  h1 {

    text-align: center;

    }
  