
body {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .sender-column {
    text-align: right;
  }
  
*{ 
  padding:0;
  margin:0;
  text-decoration:none;
  list-style:none;
  box-sizing:border-box;
}

body {
  font-family:times new 'Times New Roman', Times, serif
}

nav{
  background:#593a62
  height 80;
  width: 100
}

label.logo {
    color: white
    font-size 35
    line-height 80
    padding 0 100;
    font-weight:bold;
}

nav ul{
  float:right;
  margin-right:20 px;
}

nav ul li{
  display: inline block;
  line: height 80;
}









  body {
    background-color:#c497c6; 
    }
 
  h1 {
    font-size: 1.5em;
  }

  h1 {
      Color: Black
     } 
  
  h2 {
      Color: Black
     }

  h1{
      text-align:center;
     }  

  h2 {
    font-size: 1.3em;
  }

  h2{
      text-align:center;
     } 
  
     p {
    color: black
  }

  p{
      text-align:center; 
  }

  p{
    font-size: 1em;
  }
  

  
   p,ul,ol,dl,address {
    font-size: 1.1em;
  }
  
  p, li, dd, dt, address {
    line-height: 1.5;
  } 

  