
body {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .sender-column {
    text-align: right;
  }
  
  h1 {
    font-size: 1.5em;
  }

  h1 {
      Color: purple
     } 
  
  h2 {
      Color: purple
     }

  h1{
      text-align:center;
     } 

  h2 {
    font-size: 1.3em;
  }

  h2{
      text-align:center;
     } 
  
  p{
      text-align:center;
  }

  p{
    font-size: 1em;
  }
  
 
  li {
    display: inline;
  }
 
  ul{
    list-style:none;
    margin:0;
    padding:0;
    } 

  
   
  
   p,ul,ol,dl,address {
    font-size: 1.1em;
  }
  
  p, li, dd, dt, address {
    line-height: 1.5;
  } 

  h1 {

    text-align: center;

    }
  