
body {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .sender-column {
    text-align: right;   
  }

  body {
    background-color:#b187b3; 
    }
 
  h1 {
    font-size: 1.5em;
  }

  h1 {
      Color: Black
     } 
  
  h2 {
      Color: Black
     }

  h1{
      text-align:center;
     }  

  h2 {
    font-size: 1.3em;
  }

  h2{
      text-align:center;
     } 
  
     p {
    color: black
  }

  p{
      text-align:center; 
  }

  p{
    font-size: 1em;
  }

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.wrapper {
  margin:150 auto;
  width: 70%;
}
  img {
    max-width: 320;
  }
  


  
   p,ul,ol,dl,address {
    font-size: 1.1em;
  }
  
  p, li, dd, dt, address {
    line-height: 1.5;
  } 

  